
.thediv {
    background-image: url(images/mobile-back.jpeg);
    background-color: #EADCA6;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'side-bar main main main'
    'side-bar main main main'
    'footer footer footer footer';
    
}

.header {
    grid-area: header;
    height: 5vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid black;

}


.sidebar {
    grid-area: side-bar;
    width: 10vw;
    border: 2px solid black;
    color: black;

}

#menu-pic {
    height: 6vh;
    width: 8vw;
}

.side-text {
    color: transparent;
    transition-property: all;
    transition-duration: 2s;
}

.side-text :hover {
    color: black;
}



.main {
    display: flex;
    grid-area: main;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    border: 2px solid black;
}

.korot {
    display: flex;
    justify-content: center;
}

.aboutme {
    background-color: transparent;
    width: 70vw;
    border: 4px solid black;
    color: black;
    font: bolder;   
    text-align: center;

}

.footer {
    grid-area: footer;
    height: 10vh;
    border: 2px solid black;

}

#mainpic {
    height: 10vh;
    width: 5vw;
    border-radius: 100px;
    height: 100px;
    width: 150px;
    transition: all;
    transition-duration: 3s;

}

#mainpic:hover {
    height: 15vh;
    width: 10vw;
    filter: drop-shadow(15px 10px 5px #632626);
}

.myself {
    display: flex;
  justify-content: center;
  align-items: center;
   
}

.logo {
    width: 3vw;
    height: 4vh;
}

.projects {
    background-color: transparent;
    border: 4px solid black;
    width: 70vw;
    text-align: center;

}

.pro-cot {
    display: flex;
    justify-content: center;
}

.pro-pic {
    width: 20vw;
    height: 10vh;
}

.pro {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration-color: black;
}

.aside {
    color: transparent;
    text-decoration-line: none;
}

.gallery {
    display: none;

}

.mobile-gallery {
    background-image: url(images/gallery3.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 4px solid black;
    width: 70vw;
    height: 45vh;
    animation-name: mobile-gallery;  
    animation-duration: 15s;
}

@keyframes mobile-gallery {
    0% {background-image: url(images/gallery3.jpeg);}
    25% {background-image: url(images/gallery1.jpeg);}
    50% {background-image: url(images/gallery2.jpeg);}
    100% {background-image: url(images/gallery4.jpeg);}
}



